name: Build NixOS Configuration

on:
  push:
    branches:
      - main
      - rp
  pull_request:
    branches:
      - main
      - rp
  workflow_dispatch:

jobs:
  check-configuration:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        host: [tohu, hyperv]
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Install Nix
        uses: cachix/install-nix-action@v31
        with:
          github_access_token: ${{ secrets.GITHUB_TOKEN }}

      - name: VM Test ${{ matrix.host }} configuration
        run: nix run github:nix-community/nixos-anywhere -- --flake .#${{ matrix.host }} --vm-test
